.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    padding-top: 20vh;
    padding-bottom: 50px;
    animation: fadeIn 0.5s ease-out;
}

.splash-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-wrapper {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;

}

.splash-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app-name {
    font-size: 32px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.app-name span {
    color: var(--primary-yellow);
}

.tagline {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.splash-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-dots {
    display: flex;
    gap: 8px;
    margin-top: 15vh;
    margin-bottom: 20vh;
}

.loading-dots span {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite ease-in-out both;
}

.loading-dots span:nth-child(1) {
    background-color: #4b3621;
    animation-delay: -0.32s;
}

.loading-dots span:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1.0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.splash-bottom-image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    pointer-events: none;
    z-index: 0;
}

.splash-bottom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}