.welcome-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    position: relative;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.content-area {
    flex: 1;
    padding: 0 40px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.welcome-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    color: #000;
    margin-top: 100px;
    text-align: left;
    max-width: 60%;
    letter-spacing: -1px;
}

@media (max-width: 480px) {
    .welcome-title {
        font-size: 36px;
        max-width: 80%;
    }
}


.journey-line-container {
    position: absolute;
    top: -50px;
    right: 80px;
    height: 59%;
    width: 2px;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #888;
    margin: 0 auto;
}

.car-wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

.journey-car {
    width: 35px;
    height: auto;
    display: block;
}


.diagonal-line {
    position: absolute;
    width: 199%;
    height: 1px;
    background-color: #888;
    bottom: 30%;
    right: -20%;
    transform: rotate(-25deg);
    pointer-events: none;
    z-index: 0;
}


.get-started-btn {
    margin-top: 40px;
    background-color: #FACC15;
    color: #000;
    border: none;
    padding: 16px 32px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
    box-shadow: none;
}


.bottom-wave {
    position: absolute;
    bottom: 0px;
    left: 100;
    width: 300%;
    line-height: 20;
    z-index: 40;
}

.wave-svg {
    display: flex;
    width: 100%;
    height: auto;
}